<!DOCTYPE HTML>
<html lang="es">
    <head>
        <title>Santa Rita La Cascada</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        {# {% stylesheets
         '@FrontendBundle/Resources/public/assets/css/flexslider.css"'
         '@FrontendBundle/Resources/public/assets/css/parallax-slider.css'
         '@FrontendBundle/Resources/public/assets/css/photoswipe.css'
         '@FrontendBundle/Resources/public/assets/css/main.css'           
         %}
         <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
         {% endstylesheets %}#}
        <link rel="stylesheet" href="{{ asset('bundles/frontend/assets/css/flexslider.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/frontend/assets/css/parallax-slider.css') }}"/>
        <link href="{{ asset('bundles/frontend/assets/css/photoswipe.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/frontend/assets/css/jquery.fancybox.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/frontend/assets/css/main.css') }}" rel="stylesheet"/>
        
    </head>

    <body class="landing">
        <div id="page-wrapper">
            {% include 'FrontendBundle:Default:nav.html.twig' %}
            {% block contenido %}

            {% endblock contenido %}
            {% include 'FrontendBundle:Default:footer.html.twig' %}
        </div>

        {#{%javascripts        
            '@FrontendBundle/Resources/public/assets/js/jquery.min.js'
            '@FrontendBundle/Resources/public/assets/js/bootstrap.min.js'
            '@FrontendBundle/Resources/public/assets/js/klass.min.js'
            '@FrontendBundle/Resources/public/assets/js/code.photoswipe-3.0.5.min.js'
            '@FrontendBundle/Resources/public/assets/js/jquery.scrolly.min.js'
            '@FrontendBundle/Resources/public/assets/js/jquery.dropotron.min.js'
            '@FrontendBundle/Resources/public/assets/js/jquery.scrollex.min.js'
            '@FrontendBundle/Resources/public/assets/js/skel.min.js'
            '@FrontendBundle/Resources/public/assets/js/util.js'
            '@FrontendBundle/Resources/public/assets/js/main.js'
            '@FrontendBundle/Resources/public/assets/js/jquery.flexslider-min.js'
            '@FrontendBundle/Resources/public/assets/js/modernizr.js'
            '@FrontendBundle/Resources/public/assets/js/jquery.cslider.js'
            '@FrontendBundle/Resources/public/assets/js/app.js'
            '@FrontendBundle/Resources/public/assets/js/parallax-slider.js'            
        %}

        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}#} 
        <!-- Scripts -->
	<script src="{{ asset('bundles/frontend/assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/frontend/assets/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('bundles/frontend/assets/js/klass.min.js') }}"></script>
	<script src="{{ asset('bundles/frontend/assets/js/code.photoswipe-3.0.5.min.js') }}"></script>
	<script src="{{ asset('bundles/frontend/assets/js/jquery.scrolly.min.js') }}"></script>
	<script src="{{ asset('bundles/frontend/assets/js/jquery.dropotron.min.js') }}"></script>
	<script src="{{ asset('bundles/frontend/assets/js/jquery.scrollex.min.js') }}"></script>
	<script src="{{ asset('bundles/frontend/assets/js/skel.min.js') }}"></script>
	<script src="{{ asset('bundles/frontend/assets/js/util.js') }}"></script>
	<script src="{{ asset('bundles/frontend/assets/js/main.js') }}"></script>
	<script src="{{ asset('bundles/frontend/assets/js/jquery.flexslider-min.js') }}"></script>
	<script src="{{ asset('bundles/frontend/assets/js/modernizr.js') }}"></script>
	<script src="{{ asset('bundles/frontend/assets/js/jquery.cslider.js') }}"></script>
	<script src="{{ asset('bundles/frontend/assets/js/app.js') }}"></script>
	<script src="{{ asset('bundles/frontend/assets/js/parallax-slider.js') }}"></script>
    <script src="{{ asset('bundles/frontend/assets/js/jquery.fancybox.pack.js') }}"></script>
    
        <script type="text/javascript">
            jQuery(document).ready(function () {
                App.init();
                App.initSliders();
                ParallaxSlider.initParallaxSlider();

                $('.maps').click(function () {
                    $('.maps iframe').css("pointer-events", "auto");
                });

                $(".maps").mouseleave(function () {
                    $('.maps iframe').css("pointer-events", "none");
                });

            {% block scripts %}

            {% endblock scripts %}
                });

                (function (window, PhotoSwipe) {
                    document.addEventListener('DOMContentLoaded', function () {
                        var
                                options = {},
                                instance = PhotoSwipe.attach(window.document.querySelectorAll('.Gallery a'), options);
                    }, false);
                }(window, window.Code.PhotoSwipe));

                $(document).ready(function() {
                  $("a.fancybox").fancybox()
                });

        </script>

        <script type="text/javascript">
            {% block jscripts %}

            {% endblock jscripts %}
        </script>       
    </body>

</html>