{% extends 'BackendBundle:Default/Includes:main.html.twig' %}

{% block title 'home' %} 
    {% block content %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Contenido Administrable</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                        <div id="content">
                            <div class="form-group test">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="content">Contenido<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="editor">
                                    {{ form_widget(form.content, {'attr': {'class': 'form-control col-md-7 col-xs-12'}, 'full_name':'editor1'}) }}
                                    </div>
                                 </div>
                            </div>
                        </div>  

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        {{ form_end(form) }}    
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
    {% block scripts %}
        tinymce.init({
        selector: "textarea",
        height: 300,
        plugins: [
        "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
        "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern responsivefilemanager"
        ],
        toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
        toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor code | insertdatetime preview | forecolor backcolor",
        toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",
        menubar: false,
        toolbar_items_size: 'small',
        style_formats: [
        {title: 'Bold text', inline: 'b'},
        {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
        {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
        {title: 'Example 1', inline: 'span', classes: 'example1'},
        {title: 'Example 2', inline: 'span', classes: 'example2'},
        {title: 'Table styles'},
        {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
        ],
        relative_urls: false,
        external_filemanager_path: "{{ asset('bundles/backend/filemanager/') }}",
        filemanager_title: "Responsive Filemanager",
        external_plugins: {"filemanager": "{{ asset('bundles/backend/filemanager/plugin.min.js') }}"}
        });
    {% endblock %}