{% extends 'BackendBundle:Default/Includes:main.html.twig' %}

{% block title 'home' %} 
    {% block content %}
        <div class="row">
        {%for register in registers%}
            <div class="col-md-55 {{register.id}}">
                <div class="thumbnail">
                    <div class="image view view-first">
                        <img style="width: 100%; display: block;" src="{{ asset('uploads/images/' ~ register.image) }}" alt="image" />
                        <div class="mask">
                            <p></p>
                            <div class="tools tools-bottom">
                                <a href="{{path('edit_image_backend', {'id': register.id, 'type': 'one'})}}"><i class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0);" entity-id='{{register.id}}' class="delete"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="caption">
                        <p>Cada imagen puede ser editada o eliminada</p>
                    </div>
                </div>
            </div>
        {%endfor%}
        </div>
    {% endblock content %}
    {% block scripts %}
{#        <script>#}
            $(".delete").click(function () {
                var object = $(this);
                var annotationId = object.attr('entity-id');
                bootbox.confirm({
                    message: '¿Esta seguro que quiere eliminar esta imagen?',
                    buttons: {
                        'cancel': {
                            label: 'Cancelar',
                            className: 'btn-default'
                        },
                        'confirm': {
                            label: 'Eliminar',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                type: 'POST',
                                url: "{{path('delete_image_backend')}}",
                                dataType: 'json',
                                data: 'id=' + annotationId,
                                success: function (resp) {
                                    if (resp.result == '__OK__') {
                                        $("." + annotationId).remove();
                                    } else {
                                        bootbox.alert(resp.msg);
                                    }
                                },
                                error: function ()
                                {
                                    bootbox.alert('Error, El producto tiene asignado un inventario')
                                }

                            });
                        }
                    }
                });
            });
        {% endblock %}