{% extends 'BackendBundle:Default/Includes:main.html.twig' %}

{% block title 'home' %} 
    {% block content %}
        <div class="row">
            <div class="x_content">
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                    <tr class="headings">
                        <th class="column-title">Estado </th>
                        <th class="column-title">Nombre </th>
                        <th class="column-title">Email </th>
                        <th class="column-title">Asunto </th>
                        <th class="column-title">Mensaje </th>
                        <th class="column-title no-link last"><span class="nobr">Acciones</span>
                        </th>
                        <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for en in entity %}
                    <tr class="even pointer">
                        <td class=" ">{% if en.leido == true %}<i class="success fa fa-check"> Respondido</i>{% else %}<i class="success fa fa-close"> Sin Responder</i>{% endif %}</td>
                        <td class=" ">{{ en.nombre }}</td>
                        <td class=" ">{{ en.email }}</td>
                        <td class=" ">{{ en.asunto }} <i class="success fa fa-long-arrow-up"></i></td>
                        <td class=" ">{{ en.mensaje }}</td>
                        <td class=" last">
                            <a href="{{ path('content_inbox_response', {'idmail': en.id}) }}"><i class="fa fa-reply" title="responder"></i></a>
                            <a href="javascript:void(0);" entity-id='{{en.id}}' class="delete"><i class="fa fa-times" title="eliminar"></i></a>
                        </td>
                    </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    {% endblock content %}
    {% block scripts %}
        $(".delete").click(function () {
        var object = $(this);
        var annotationId = object.attr('entity-id');
        bootbox.confirm({
        message: '¿Esta seguro que quiere eliminar este correo?',
        buttons: {
        'cancel': {
        label: 'Cancelar',
        className: 'btn-default'
        },
        'confirm': {
        label: 'Eliminar',
        className: 'btn-danger'
        }
        },
        callback: function (result) {
        if (result) {
        $.ajax({
        type: 'POST',
        url: "{{path('delete_inbox_backend')}}",
        dataType: 'json',
        data: 'id=' + annotationId,
        success: function (resp) {
        if (resp.result == '__OK__') {
        location.reload();
        } else {
        bootbox.alert(resp.msg);
        }
        },
        error: function ()
        {
        bootbox.alert('Error, El producto tiene asignado un inventario')
        }

        });
        }
        }
        });
        });

    {% endblock %}