{% extends 'BackendBundle:Default/Includes:main.html.twig' %}

{% block title 'home' %} 
    {% block content %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Imagenes<small>para sección DOS</small></h2>                       
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" action="{{ path('section_two_add_backend') }}" data-parsley-validate class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">
                            <div id="content">
                                <a class="linkme" href="javascript:void(0)" id="add">Agregar Otra Imagen</a>

                                <div class="form-group test">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="imagen">Imagen<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="file" name="pic1" accept="image/*" required="required" class="form-control col-md-7 col-xs-12">    
                                    </div>
                                </div>

                            </div>  

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
    {% block scripts %}
                    $("#add").click(function () {
                        var intId = $("#content div.test").length + 1;
                        console.log(intId);

                        var fieldWrapper = $("<div class=\"form-group test\" id=\"field" + intId + "\"/>");
                        var fName = $("<label class=\"control-label col-md-3 col-sm-3 col-xs-12\" for=\"imagen\">Imagen<span class=\"required\">*</span>");
                        var subduiv = $("<div class=\"col-md-6 col-sm-6 col-xs-12\"/>");
                        var fType = $("<input type=\"file\" name=\"pic" + intId + "\" accept=\"image/*\" required=\"required\" class=\"form-control col-md-7 col-xs-12\">");

                        fieldWrapper.append(fName);
                        fieldWrapper.append(subduiv);
                        subduiv.append(fType);

                        $("#content").append(fieldWrapper);
                    });

        {% endblock %}