<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Santa Rita La Cascada | </title>

        <!-- Bootstrap -->
        <link href="{{ asset('bundles/backend/gentelella-master/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('bundles/backend/gentelella-master/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{{ asset('bundles/backend/gentelella-master/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
        <!-- Animate.css -->
        <link href="{{ asset('bundles/backend/gentelella-master/vendors/vendors/animate.css/animate.min.css') }}" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="{{ asset('bundles/backend/gentelella-master/build/css/custom.min.css') }}" rel="stylesheet">
    </head>

    <body class="login">
        <div>

            <div class="login_wrapper">
                <div class="animate form login_form">
                    <section class="login_content">

                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <form action="{{ path('login') }}" method="post">
                            <h1>Login Área Privada</h1>
                            <div>
                                <input class="form-control" type="text" id="username" name="_username" placeholder="Nombre Usuario" value="{{ last_username }}" required="" />
                            </div>
                            <div>
                                <input class="form-control" type="password" id="password" name="_password" placeholder="Password" required=""/>                
                            </div>
                                
                            <input type="hidden" name="_target_path" value="/private/videoSlider/home" /> 
                                
                            <div>
                                <button class="btn btn-default submit" type="submit">Login</button>
                            </div>

                            <div class="clearfix"></div>

                            <div class="separator">             
                                <div class="clearfix"></div>
                                <br />
                                <div>
                                    <p>©2017 All Rights Reserved Santa Rita La Cascada.</p>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
