<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/backend/css/bootstrap.css') }}" type="text/css" rel="stylesheet" media="screen" />

        <!-- Add custom CSS here -->
        <link href="{{ asset('bundles/backend/css/sb-admin.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/backend/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <!-- Page Specific CSS -->
        <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">

    </head>
    <body>
        <div class="container-fluid">
            <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top headCustomer" style="height: 138px;">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand">
                        {#                        <figure class="logotype"><img alt="Dealer license" src="{{asset ('bundles/frontend/img/favicon/favicon-72x72.png')}}"></figure>#}
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling --><!-- /.navbar-collapse -->
            </nav>
            <div class="row-fluid">
                <div style="width: 40%; margin: 10%  auto;" class="well">

                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path('login') }}" method="post">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input class="form-control" type="password" id="password" name="_password" />                
                        </div>
                        
                        <input type="hidden" name="_target_path" value="/private/videoSlider/home" />

                        <button class="btn btn-primary btn-lg" type="submit">Login</button>
                    </form>
                </div>
            </div>
            <script src="{{ asset('bundles/backend/js/jquery-1.10.2.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/backend/js/bootstrap.js') }}" type="text/javascript"></script>
    </body>
</html>