<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Seitem :: Software contable</title>
        <style type="text/css">
            img {
                display: block;
            }
            @media only screen and (max-width: 480px) {
                /* mobile-specific CSS styles go here */
                table[class=email] { 
                    clear: both;
                    width: 320px !important;
                    font-size: 13px !important;
                }
            }

        </style>
    </head>
    <body>
        <table bgcolor="FAFAFA" class="email" border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;">
            <tr>
                <td>
                    <img src="https://s25.postimg.org/n6ytinf1b/mail_Santa_Rita.jpg" alt="Santa Rita" width="100%"/>
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="9">
                        <tr>
                            <td>
                            <h3>Respuesta a tu contacto!</h3>

							Hola {{ entity.nombre }}!

							{{ mensaje }}

							Gracias!
							Santa Rita La Cascada.
                                
                            </td>
                        </tr>
                    </table>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <table width="80%" style="margin: 30px auto;">
                        <tr>
                            <td style="text-align: center;">
                                <p style="color: #2B4969;">¿Necesitas ayuda? </p>
                                Escríbenos: <a href="mailto:santaritalacascada@gmail.com">santaritalacascada@gmail.com</a> <br>
                                Llámanos o chatea con nosotros al +57 312 864 0477 <br>
                                Finca Santa Rita | Km 1.5 Vereda, Los Andes, Salento, Quindío, Colombia<br>
                                ¿Quieres descubrir más por tu cuenta?
                                visítanos en <a href="http://www.santaritalacascada.com" target="blank" style="color: #2B4969;">www.santaritalacascada.com</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>

