{% extends 'BackendBundle:Default/Includes:main.html.twig' %}

{% block title 'home' %} 
    {% block content %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <form id="demo-form2" action="{{ path('content_inbox_response', {'idmail': idmail}) }}" data-parsley-validate="" method="post" class="form-horizontal form-label-left" novalidate="">
                    <div class="form-group">
                         <label class="control-label col-md-3 col-sm-3 col-xs-12">Redactar Respuesta</label>
                         <div class="col-md-9 col-sm-9 col-xs-12">
                    <textarea class="resizable_textarea form-control" name="response"></textarea>
                    </div>
                    </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a href="{{ path('content_inbox') }}" class="btn btn-primary">Volver</a>
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock content %}
    {% block scripts %}


    {% endblock %}