{% extends 'BackendBundle:Default/Includes:main.html.twig' %}

{% block title 'home' %} 
    {% block content %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Video <small>para Slider</small></h2>                       
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        {#                        <form id="demo-form2" action="{{ path('home_backend') }}" data-parsley-validate class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">#}
                        {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                        <div id="content">
                            <div class="form-group test">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="imagen">URL Video<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {#                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">#}
                                    {{ form_widget(form.linkVideo, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder': 'https://youtu.be/Vi-pHcByf5I'}}) }}
                                </div>
                            </div>

                        </div>  

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        {{ form_end(form) }}    
                        {#                        </form>#}
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
    {% block scripts %}


    {% endblock %}