<!-- Footer -->
<footer id="footer">

    <div class="3u$ 12u$(medium) text-center">
        <img class="gray" src="{{ asset('/bundles/frontend/images/logotype.svg') }}" alt="santa rita la cascada"></a>
    </div>
    <div class="3u$ 12u$(medium)">
        <h4>Informes y reservas</h4>
        <ul>
            <li><span class="icon alt fa-whatsapp"></span> (+57) 312 864 0477</li>
            <li><span class="icon alt fa-envelope"></span> <a href="mailto:santaritalacascada@gmail.com"> santaritalacascada@gmail.com</a></li>
        </ul>
    </div>
    <div class="3u$ 12u$(medium)">
        Finca Santa Rita | Km 1.5 Vereda, Los Andes, Salento, Quindío, Colombia
    </div>
    <div class="3u$ 12u$(medium) rightReserve">
        <ul>
            <li>&copy; Santa Rita La Cascada. todos los derechos reservados.</li>
            <li>Diseño web por: <a href="https://www.behance.net/openpixel" target="blank">openpixel</a></li>
        </ul>
    </div>
</footer>