{% extends 'FrontendBundle:Default/Includes:main.html.twig' %}
{% block contenido %}
    <!-- Banner -->
    <section id="banner">
        <!--=== Slider ===-->
        <div class="slider-inner">
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2><i>Vive de cerca</i> <br /> <i>la naturaleza</i></h2>
                </div>
                <div class="da-slide">
                    <h2><i>No veas el paisaje</i> <br /> <i>Explóralo tu mismo</i></h2>
                    <div class="da-img">
                        {%if video is not null%}
                        <div class="video-container">
                            {% set foo = video.linkVideo|split('/') %}
                            <iframe src="{{ 'https://www.youtube.com/embed/' ~ foo[3] }}" register.image width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div>
                        {%endif%}
                    </div>
                </div>
                <div class="da-slide">
                    <h2><i>Siente la aventura</i> <br /> <i>de comerte el mundo</i></h2>
                    <div class="da-img"><img src="{{ asset('/bundles/frontend/images/logo-white.svg') }}" width="330" alt="santa rita la cascada" /></div>
                </div>
                <div class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>        
                </div>
            </div>
        </div><!--/slider-->
    </section>

    <!-- One -->
    <!-- Two -->
    <section id="two" class="spotlight style2 left">
        <span class="image fit main"><img src="{{ asset('bundles/frontend/images/bg1.jpg') }}" alt="" /></span>

        <div class="seventy">
            <header class="major">
                <h2>SERVICIOS</h2>
                <p>Todo el paisaje que necesite para su disfrute</p>
            </header>
            <div class="box alt">
                <div class="row uniform">
                    <section class="4u 12u$(xsmall)">
                        <img class="servico" src="{{ asset('bundles/frontend/images/servico1.svg') }}" alt="caminata ecológica">
                        <h3>Caminata ecológica</h3>
                    </section>
                    <section class="4u 12u$(xsmall)">
                        <img class="servico" src="{{ asset('bundles/frontend/images/servico2.svg') }}" alt="Zona de camping">
                        <h3>Zona de camping</h3>
                    </section>
                    <section class="4u$ 12u$(xsmall)">
                        <img class="servico" src="{{ asset('bundles/frontend/images/servico3.svg') }}" alt="Hospedaje">
                        <h3>Pronto Hospedaje</h3>
                    </section>

                </div>
            </div>
        </div>

        <div class="content">
            {{ cont_section_home.content | raw }}
        </div>
        <a href="#three" class="goto-next scrolly">Next</a>
    </section>

    <!-- Three -->
    <section id="three" class="spotlight style3 right">
        <span class="image fit main bottom"><img src="{{ asset('bundles/frontend/images/bg2.jpg') }}" alt="" /></span>

        <div class="seventy left" id="threeGall">
            <div class="box alt">
                <div class="row uniform flex Gallery">
                    {% for imauno in ima_section1 %}
                    <section class="flexGal 4u 6u(medium) 12u$(xsmall)">
                        <a href="{{ asset('uploads/images/' ~ imauno.image) }}" data-ccl-disp="threeGall">
                            <img class="gallery" src="{{ asset('uploads/images/' ~ imauno.image) }}" alt="caminata ecológica">
                        </a>
                    </section>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="content">
            {{ cont_section1.content | raw }}
        </div>
        <a href="#four" class="goto-next scrolly">Next</a>
    </section>

    <!-- Four -->
    <section id="four" class="spotlight style2 left">
        <span class="image fit main"><img src="{{ asset('bundles/frontend/images/bg3.jpg') }}" alt="" /></span>

        <div class="seventy" id="fourGall">
            <div class="box alt">
                <div class="row uniform flex Gallery">
                    {% for imados in ima_section2 %}
                    <section class="flexGal 4u 6u(medium) 12u$(xsmall)">
                        <a href="{{ asset('uploads/images/' ~ imados.image) }}" data-ccl-disp="fourGall">
                            <img class="gallery" src="{{ asset('uploads/images/' ~ imados.image) }}" alt="caminata ecológica">
                        </a>
                    </section>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="content">
            {{ cont_section2.content | raw }}
        </div>
        <a href="#five" class="goto-next scrolly">Next</a>
    </section>

    <!-- five -->
    <section id="five" class="spotlight style3 right">
        <span class="image fit main bottom"><img src="{{ asset('bundles/frontend/images/bg4.jpg') }}" alt="" /></span>

        <div class="seventy left" id="fiveGall">
            <div class="box alt">
                <div class="row uniform flex Gallery">
                    {% for imatres in ima_section3 %}
                    <section class="flexGal 4u 6u(medium) 12u$(xsmall)">
                        <a href="{{ asset('uploads/images/' ~ imatres.image) }}" data-ccl-disp="fiveGall">
                            <img class="gallery" src="{{ asset('uploads/images/' ~ imatres.image) }}" alt="caminata ecológica">
                        </a>
                    </section>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="content">
            {{ cont_section3.content | raw }}
        </div>
        <a href="#six" class="goto-next scrolly">Next</a>
    </section>

    <!-- six -->
    <section id="six" class="spotlight style2 left">
        <span class="image fit main bottom"><img src="{{ asset('bundles/frontend/images/pic04.jpg') }}" alt="" /></span>

        <div class="map">
            <!-- Google Map -->
            <div class='maps'>
                <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d3976.6998761403465!2d-75.58169974917861!3d4.647520393392713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m3!3m2!1d4.6431334!2d-75.5842036!4m5!1s0x8e388c2d26d569a1%3A0xe85f02b3fe87b0a1!2sfinca+santa+rita%2C+Vereda%2C+Los+Andes%2C+Salento%2C+Quind%C3%ADo!3m2!1d4.6519346!2d-75.5753318!5e0!3m2!1ses-419!2sco!4v1507153542050" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div><!---/map-->
        </div>
        <div class="content">
            <header>
                <h2>Contacto</h2>
            </header>
            {#            <form method="post" action="#">#}
            {{ form_start(form, {'attr': {'id': 'myform'}}) }}
            <div class="row uniform 50%">
                <div class="12u 12u$(xsmall)">
                    {#                    <input type="text" name="name" id="name" value="" placeholder="Nombre" />#}
                    {{ form_widget(form.nombre, {'attr': {'placeholder': 'Nombre'}}) }}
                </div>
                <div class="12u$ 12u$(xsmall)">
                    {#                    <input type="email" name="email" id="email" value="" placeholder="Email" />#}
                    {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
                    <p>{{ form_errors(form.email) }}</p>
                </div>
                <div class="12u$">
                    {#<div class="select-wrapper">
                        <select name="category" id="category">
                            <option value="">- Asunto -</option>
                            <option value="1">Reserva</option>
                            <option value="1">Información</option>
                            <option value="1">Sugerencia</option>
                        </select>
                    </div>#}
                    {{ form_widget(form.asunto, {'attr': {'class': 'select-wrapper'}}) }}
                </div>
                <div class="12u$">
                    {#                    <textarea name="message" id="message" placeholder="Mensaje" rows="3"></textarea>#}
                    {{ form_widget(form.mensaje, {'attr': {'placeholder': 'Mensaje'}}) }}
                </div>
                <div class="12u$ 12u$(medium)">
                    <input type="checkbox" id="human" name="human" class="human">
                    <label for="human"><a href="#fancyOne" class="fancybox">Acepto terminos y condiciones</a></label>
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Enviar" class="button" id="button" disabled/></li>
                    </ul>
                </div>
                {% if app.request.get('flag') is not null and app.request.get('flag') == true %}
                <div class="12u$">
                    <span class="alert-success" style="display:block">
                        ÉXITO: Su correo ha sido enviado, pronto nos comunicaremos con usted
                    </span>
                </div>
                {% endif %}
            </div>
            {#            </form>#}
            {{ form_end(form) }}
        </div>
    </section>

    <div id="fancyOne" style="display:none">
        {{ cont_section_terms.content | raw }}
    </div>
{% endblock contenido %}
{% block scripts %}
{% if app.request.get('flag') is not null and app.request.get('flag') == true %}
window.location.href = "#six";
{% endif %}

    $('#myform :checkbox').change(function () {
    if ($(this).is(':checked')) {
    $('#button').removeAttr('disabled');
    } else {
    $('#button').attr('disabled','disabled');
    }
    });
{% endblock scripts %}