<!-- Header -->
<header id="header">
    <div class="container">
        <a id="logo" href="index.html"><img class="brand" src="{{ asset('bundles/frontend/images/logotype.svg') }}" alt="Santa Rita La Cascada"></a>

        <ul class="hiphone">
                <li class="ico"><a href="https://www.facebook.com/Santa-Rita-la-cascada-712108718978785/" target="blank" class="icon alt fa-facebook"></a></li>
                <li class="ico"><a href="https://www.instagram.com/santaritalacascada/" target="blank" class="icon alt fa-instagram"></a></li>
                <li class="ico"><a href="https://www.youtube.com/channel/UCW3sxUVy9Q2sbmGVRfYnocQ/videos?disable_polymer=1" target="blank" class="icon alt fa-youtube"></a></li>
        </ul>

        <nav id="nav">
            <ul>
                <li><a href="#two">SERVICIOS</a></li>
                <li><a href="#three">TESTIMONIOS</a></li>
                <li><a href="#four">TURISMO</a></li>
                <li><a href="#six">CONTÁCTO</a></li>
                <li class="ico"><a href="https://www.facebook.com/Santa-Rita-la-cascada-712108718978785/" target="blank" class="icon alt fa-facebook"></a></li>
                <li class="ico"><a href="https://www.instagram.com/santaritalacascada/" target="blank" class="icon alt fa-instagram"></a></li>
                <li class="ico"><a href="https://www.youtube.com/channel/UCW3sxUVy9Q2sbmGVRfYnocQ/videos?disable_polymer=1" target="blank" class="icon alt fa-youtube"></a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Banner -->