<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Zona Privada | Santa Rita La Cascada </title>
        <link href="{{ asset('bundles/backend/css/style.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <!-- Bootstrap -->
        <link href="{{ asset('bundles/backend/gentelella-master/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('bundles/backend/gentelella-master/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{{ asset('bundles/backend/gentelella-master/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{{ asset('bundles/backend/gentelella-master/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
        <!-- bootstrap-wysiwyg -->
        <link href="{{ asset('bundles/backend/gentelella-master/vendors/google-code-prettify/bin/prettify.min.css') }}" rel="stylesheet">
        <!-- Select2 -->
        <link href="{{ asset('bundles/backend/gentelella-master/vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">
        <!-- Switchery -->
        <link href="{{ asset('bundles/backend/gentelella-master/vendors/switchery/dist/switchery.min.css') }}" rel="stylesheet">
        <!-- starrr -->
        <link href="{{ asset('bundles/backend/gentelella-master/vendors/starrr/dist/starrr.css') }}" rel="stylesheet">
        <!-- bootstrap-daterangepicker -->
        <link href="{{ asset('bundles/backend/gentelella-master/vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="{{ asset('bundles/backend/gentelella-master/build/css/custom.min.css') }}" rel="stylesheet">
        <!-- Include stylesheet -->
        <link href="https://cdn.quilljs.com/1.3.2/quill.snow.css" rel="stylesheet">
    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="clearfix"></div>

                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                {#                                <img src="{{asset('bundles/backend/gentelella-master/production/images/img.jpg')}}" alt="..." class="img-circle profile_img">#}
                                <img src="{{ asset('bundles/frontend/images/logotype.svg') }}" alt="logo" class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Bienvenido,</span>
                                <h2>Administrador</h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->

                        <br />

                        <!-- sidebar menu -->
                        {%include('BackendBundle:Default/Includes:nav.html.twig')%}
                        <!-- /sidebar menu -->

                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small">                            
                            <a data-toggle="tooltip" data-placement="top" title="Logout" href="{{path('backend_logout')}}">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>
                        <!-- /menu footer buttons -->
                    </div>
                </div>

                <!-- top navigation -->        
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="{{ asset('bundles/frontend/images/logotype.svg') }}" alt="">Administrador
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        {#<li><a href="javascript:;"> Profile</a></li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="badge bg-red pull-right">50%</span>
                                                <span>Settings</span>
                                            </a>
                                        </li>
                                        <li><a href="javascript:;">Help</a></li>#}
                                        <li><a href="{{path('backend_logout')}}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                    </ul>
                                </li>

                                <li role="presentation">
                                    <a href="javascript:;" class="info-number" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">{{countContacts.getNumberContacts()}}</span>
                                    </a>                                   
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->

                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
                <!-- /page content -->                

            </div>
        </div>

        <!-- jQuery -->
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
        {#        <script src="{{ asset('bundles/backend/gentelella-master/vendors/dist/js/bootstrap.min.js') }}"></script>#}
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- FastClick -->
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/fastclick/lib/fastclick.js') }}"></script>
        <!-- NProgress -->
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/nprogress/nprogress.js') }}"></script>
        <!-- bootstrap-progressbar -->
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
        <!-- iCheck -->
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/iCheck/icheck.min.js') }}"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/moment/min/moment.min.js') }}"></script>
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
        <!-- bootstrap-wysiwyg -->
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js') }}"></script>
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/jquery.hotkeys/jquery.hotkeys.js') }}"></script>
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/google-code-prettify/src/prettify.js') }}"></script>
        <!-- jQuery Tags Input -->
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/jquery.tagsinput/src/jquery.tagsinput.js') }}"></script>
        <!-- Switchery -->
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/switchery/dist/switchery.min.js') }}"></script>
        <!-- Select2 -->
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/select2/dist/js/select2.full.min.js') }}"></script>
        <!-- Parsley -->
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/parsleyjs/dist/parsley.min.js') }}"></script>
        <!-- Autosize -->
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/autosize/dist/autosize.min.js') }}"></script>
        <!-- jQuery autocomplete -->
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js') }}"></script>
        <!-- starrr -->
        <script src="{{ asset('bundles/backend/gentelella-master/vendors/starrr/dist/starrr.js') }}"></script>
        <script src="{{ asset('bundles/backend/js/tinymce/tinymce.min.js') }}" type="text/javascript"></script>
        <!-- Custom Theme Scripts -->
        <script src="{{ asset('bundles/backend/gentelella-master/build/js/custom.min.js') }}"></script>
        <!-- Include the Quill library -->
        <script src="{{ asset('bundles/backend/js/bootbox.min.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
            {% block scripts %}
            {% endblock %}
                });

            {% block functions_javascript %}
            {% endblock %} 
        </script>
    </body>
</html>