<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-sliders"></i> Slider <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{path('video_backend')}}">Video</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-bed"></i> Acerca de nosotros <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{path('content_backend', {'section': 'section_home'})}}">Contenido</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-image"></i> Seccion Uno <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{path('section_one_add_backend')}}">Agregar Imagenes</a></li>
                    <li><a href="{{path('detail_one_backend')}}">Detalle y acciones</a></li>
                    <li><a href="{{path('content_backend', {'section': 'section1'})}}">Contenido</a></li>
                </ul>
            </li>  
            <li><a><i class="fa fa-image"></i> Seccion Dos <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{path('section_two_add_backend')}}">Agregar Imagenes</a></li>
                    <li><a href="{{path('detail_two_backend')}}">Detalle y acciones</a></li>
                    <li><a href="{{path('content_backend', {'section': 'section2'})}}">Contenido</a></li>
                </ul>
            </li>  
            <li><a><i class="fa fa-image"></i> Seccion Tres <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{path('section_three_add_backend')}}">Agregar Imagenes</a></li>
                    <li><a href="{{path('detail_three_backend')}}">Detalle y acciones</a></li>
                    <li><a href="{{path('content_backend', {'section': 'section3'})}}">Contenido</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-gavel"></i> Terminos y condiciones <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{path('content_backend', {'section': 'section_terms'})}}">Contenido</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-inbox"></i> Correos <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{path('content_inbox')}}">Bandeja de Entrada</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>